body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 8px;
}

.intro {
  width: 40%;
  position: fixed;
  display: inline-block;
  box-sizing: border-box;
  padding: 40px;
  color: #00356B;
}

@media (max-width: 992px) {
  .intro {
    position: static;
    width: 100%;
  }
}

.intro img {
  width: 150px;
  border-radius: 50%;
}

.intro .title {
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .intro .title{
    font-size: 36px;
  }
}

.intro .description {
  line-height: 32px;
}

.intro .description a {
  text-decoration: none;
  border-bottom: 2px dashed;
  color: inherit;
}

.intro .description a:hover {
  color: #054C8E;
  border-bottom: 2px solid;
}

.gallery {
  width: 60%;
  position: absolute;
  right: 0;
  display: inline-block;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .gallery {
    position: static;
    width: 100%;
  }
}

.gallery-item {
  color: #FFFFFF;
  padding: 40px;
}

.gallery-item .title, .gallery-item .number {
  font-weight: 300;
}

.gallery-item .description {
  font-size: 13px;
}

.gallery-item img {
  display: block;
  margin: 24px auto;
}

.ydn {
  background: #1A9FE0;
}

.ydn img {
  width: 80%;
}

.snackpass {
  background: #E9BBD8;
}

.snackpass img {
  width: 25%;
}

.lily {
  background: #B5DDC0;
}

.lily img {
  width: 70%;
}
